body{
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .hero, footer{
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.quote{
    background-color: #E5E7EB;
}


